<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    
    <title>OPUS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet"  href="./css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet"  href="./css/suscribe.css">
</head>    
<body>
    <div id="main">
        <header class="hero" >
            <div id="textH"><h2> OPUS </h2></div>
            <div class="buttonH">
                <button onclick="redirect_to('/createPost')"  id="Bhead1">
                   <span>Post a Job</span>
                </button>
            </div>
            <br><br><br>
            <section>
                <div id="demotext"><h1>BUILD THE FUTURE OF<br><br><br> THE WEB </h1></div>
                <br><br><br><br><br><br>
                
            </section>
                
        </header>

        <div id="niches">
            <button onclick="redirect_to('/Niche/NFTs')" value="NFTs" class="box">NFTs  </button>
            <button onclick="redirect_to('/Niche/DAOs')" value="DAOs" class="box">DAOs</button>
            <button onclick="redirect_to('/Niche/DeFi')" value="DeFi" class="box">DeFi</button>
            <button onclick="redirect_to('/Niche/Layer 2')" value="Layer 2" class="box">Layer 2</button>
            <button onclick="redirect_to('/Niche/Wallets')" value="Wallets" class="box">Wallets</button>
            <button onclick="redirect_to('/Niche/Metaverse')" value="Metaverse" class="box">Metaverse</button>
            <button onclick="redirect_to('/Niche/Oracles')" value="Oracles" class="box">Oracles</button>
            <button onclick="redirect_to('/Niche/Exchanges')" value="Exchanges" class="box">Exchanges</button>
            <button onclick="redirect_to('/Niche/Custody')" value="Custody" class="box">Custody</button>
            <button onclick="redirect_to('/Niche/ERC20')" value="ERC20" class="box">ERC20</button>
            <button onclick="redirect_to('/Niche/Smart-Contracts')" value="Smart-Contracts" class="box">Smart Contracts</button>
            <button onclick="redirect_to('/Niche/Stablecoins')" value="Stablecoins" class="box">Stablecoins</button>
            <button onclick="redirect_to('/Niche/Developer-tools')" value="Developer-tools" class="box">Developer tools</button>
        </div>

        <div class="container">
            <% lists.forEach(function(post){ %>

            <div id="<%=post.id%>" class="post">
                <div class="post-top">
                    <div id="post-tittle">
                        <%=post.title%>
                    </div>
                    <div id="post-date">
                        <%=post.start_date%>
                    </div>
                </div>
                <div class="post-medium">
                    <div id="org-name">
                        <%=post.name%>
                    </div>
                    <div id="tag-<%=post.id%>" class="tag">
                        
                    </div>
                    <script> 
                        content = document.getElementById("tag-<%=post.id%>")
                        let tag = '<%-post.tag%>'
                        tag = tag.split(",")
                        for (let i = 0; i < tag.length; i++)
                            content.insertAdjacentHTML("beforeend", "<div id='sub_tag-"+i+1+ "'>"+tag[i]+"</div>")
                    </script>                    
                </div>
                <div class="post-botttom">
                    <div class="left">
                        <div id="work-policy">
                            <%=post.work_name%>
                        </div>
                        <div id="min">
                            <% if(!post.min_salary){%>
                                Salary min: Not especified!
                            <%}else{ %>
                                Salary min: $<%= post.min_salary %>
                            <%}%>
                        </div>
                        <div id="max">
                            <% if(!post.max_salary){%>
                                Salary max: Not especified!
                            <%}else{ %>
                                Salary max: $<%= post.max_salary %>
                            <%}%>
                        </div>
                    </div> 
                    <a id="apply" href="/post/<%= post.id %>" class="button-apply">APPLY</a>
                </div>
            </div>
            <%})%>
        </div>


        <footer>
    
            <a href="#" class ="neon-button"> @ Paradox 2021 OPUS</a>
          </footer>
    </div>
    <canvas id="canvas" style="background: #111;"></canvas>
    <script type="text/javascript" src="js/canvas_background.js"> </script>
</body>

<div id="suscribe">
    <form id="suscribe_banner" action="/suscribe" method="post" >
        Hi
        <input id="user-name" name="name" size="15%" type="text"   placeholder="Type your name  ..." />
        Get a 
        <select name="frecuency">
            <option value="daily" >daily</option>
            <option value="weekly" selected>weekly</option>
        </select>
        email of all new web3 Jobs
        <input id="user-email"  name="email" size="10%" type="email"  placeholder="Type yout email..." />
        <input id="btn-suscribe"  name="btn_subscribe" type="submit"  />
        <button type="button"class="btn btn-outline-danger" onclick="document.getElementById('suscribe').style.display='none'" > X </button>
    </form>
    
</div>

<script>

    function redirect_to(route){
        window.location = route
    }


</script>


</html>

